header{
	font-size:45px
	color:blue;
}
body{
	background-image:url("nasa.png");
    background-repeat:no-repeat; 
    background-size:cover;
    
}
h1{
	color:blue;
}
button{

    color: black;
    position: absolute;
    top: 55%;
    right:55%;
    font-size:25px 
 

}
input{
    color: black; 
    position: absolute;
    top: 55%;
    right:45% 

    }
