header{
	font-size:54px;
	text-align:center;
	color:white;  
}
body{
	background-image:url('globe.jpg'); 
	background-repeat:no-repeat; 
    background-size:cover;
    
}



.column {
  float: left;
  width: 918px;
  height:874px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.h2{
	font-size: 45px;
}
.li{
	font-size: 40px;
}
.p{
	font-size:30px; 
}
#h{
	color:white;


}
#img{
position:absolute;
left:5%; 
top:58%; 

}
#id{
	position:absolute;
	right:5%;
	top:58%; 
}